﻿
/*************TREE*STYLING**************/


/**UPADHYAY TREE**/
.box {
    margin: 20px;
    padding: 20px;
    position: relative;
    height: auto;
    overflow: auto;
    width: 100%;
}



div.tab-nav-block {
    border-bottom: 1px solid #cccccc;
    padding: 3px;   
}

a.tab-navig:active {
    color: black;
}

a.tab-navig:focus {
    font-weight: bold !important;
    cursor: pointer !important;
    color: black;
}

a.tab-navig:hover {
    cursor: pointer !important;
    color: #dc0e0e;
}

.tab-active{
    box-shadow: 2px 3px 5px #bdbdbd inset;
    border-radius: 10px 0 0 0 !important;
    outline: none;
    color: #4a4a4a !important;
    font-weight: bold;
    background: #fdfdfd !important;
    z-index: 99;
}

a.tab-navig {
    transition: all ease-in .1s;
    position: relative;
    top: 0;
    padding: 5px 10px;
    text-transform: uppercase;
    background: white;
    border-radius: 0;
    margin-left: -4px;
    text-decoration: none;
}

.show {
    display: block;   
}

ul.u-tree i::selection, a::selection, b::selection, span::selection, li::selection {
    background-color: transparent;
}

ul.u-tree {
    position: relative;
    top: 0;
    left: 0;
    min-height: 200px;
}

ul.u-tree-label {
    margin: 10px;
    padding: 5px 15px;
    font-weight: 100;
    color: #212121;
    background-color: rgba(183, 230, 120, 0.92);
    border-radius: 17px;
    box-shadow: 1px 4px 7px white inset;
}

ul.u-tree li {
    margin: 5px;
    list-style: none;
}

ul.u-tree > li {
    font-weight: 700;
    color: #034975;
    text-transform: capitalize;
    list-style: none;
    display: inline-table;
}


ul.u-tree > li > b {
    border-top: 1px solid #c50000;
    border-left: 1px solid #c50000;
    border-right: 1px solid #c50000;
    margin: -3px;
}

ul.u-tree li > a {
    font-weight: 500;
    color: gray;
    text-decoration: none;
    cursor: default;
}

ul.u-tree li {
    font-weight: 700;
    color: #034975;
    text-transform: capitalize;
}


.box > ul.u-tree > li > ul.u-tree-child {
    box-shadow: 2px -2px 3px #d2d2d2 inset;
    overflow: auto;
    display: none;
    cursor: default;
    margin-left: 30px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0 20px 40px;
    width: 100%;
    border: 1px solid #d4d4d4;
    margin-top: -1px;
    margin-left: -1px;
    margin-top: -1px;
    margin-left: -1px;
    background: #fdfdfd;
}

ul.u-tree-child > li > ul {
       margin-left: -14px;
    display: none;
}

li.u-tree-par {
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: red;
}


ul.u-tree * b {
    cursor: -webkit-grab;
}

ul.u-tree i {
    position: relative;
    transition: all ease-in-out .1s;
}

ul.u-tree * b:hover > i {
    box-shadow: inset 0 -3px 3px #373737, 2px 2px 5px #6f6f6f;
} 

ul.u-tree * b:active > i {
    box-shadow: 0 -1px 3px #162313 inset;
    top: 1px;
}

ul.u-tree * a, b {
    padding: 4px;
}

ul.u-tree b:active {
    cursor: -webkit-grabbing;
}

ul.u-tree input[type=radio],input[type=checkbox] {
    padding-left: 5px;
}

ul.u-tree i {
    font-family: initial;
    width: 20px;
    text-align: center;
    display: inline-block;
    background-color: #e8e8e8;
    border-radius: 3px;
    margin: 2px 5px;
    color: #424242;
    font-weight: 100;
}

ul.u-tree-child li {
    margin: 5px 0;
}

label.tree-checkbox {
    min-width: 264px;
}

ul.u-tree-child li > b + label > span {
    display: none;
}

ul.u-tree ul.u-tree-child > li > a + label > i{
        position: relative;
            font-style: normal;
            font-weight:100;
                background-color: grey !important;
    border-radius: 0 !important;
    color: white;
    padding: 1px 3px;
}

.male {
    margin-left: 10px;
}

.male + i {
    left: -36%;
}

.female {
   margin-left: -38px;
    padding-left: 26px !important;
}

.female + i {
    left: -36%;
}

label.tree-checkbox input[type=number]::-webkit-inner-spin-button, 
label.tree-checkbox input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.tree-price {
    outline:none;
    border: none;
    border: 2px solid gray;
    width: 87px;
    padding: 0px 0 0 25px;
}



ul.u-tree-child li > a + label > span {
    background-image: url('../../images/icons/radio.png');
    background-size: 39px;
    background-position: 0px -1px;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-top: -1px;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.u-tree input[type=checkbox], input[type=radio] {
    display: none;
}

input[type=checkbox]:checked + span {
    background-position: -21.85px -1px;
}


.checkbox-style + span {
    position: relative;
    float: right;
    top: 5px;
    height: 18px;
    width: 18px;
    background-image: url('../../images/icons/radio.png');
    background-size: 40px;
    background-position: 0px;
    cursor: pointer;
}
