﻿
/*************TREE*STYLING**************/


/**UPADHYAY TREE**/
.box {
    border: 1px solid silver;
    margin: 20px;
    padding: 20px;
}

ul.u-tree i::selection, a::selection, b::selection, span::selection, li::selection {
    background-color: transparent;
}

ul.u-tree {
        position: relative;
    top: 0;
    padding: 0;
    border: 1px solid #e0e0e0;
    margin: 10px 0;
    border-radius: 10px;
    background: #f3f3f3;
    left: 0;
}

ul.u-tree-label {
    margin: 10px;
    padding: 5px 15px;
    font-weight: 100;
    color: #212121;
    background-color: rgba(183, 230, 120, 0.92);
    border-radius: 17px;
    box-shadow: 1px 4px 7px white inset;
}

ul.u-tree li {
    margin: 5px;
    display: block;
    list-style: none;
}

ul.u-tree li > a {
    font-weight: 700;
    color: gray;
    text-decoration: none;
    cursor: default;
}

ul.u-tree li {
    font-weight: 700;
    color: #034975;
    text-transform: capitalize;
}

ul.u-tree-child {
    display: none;
    margin-left: 30px;
}

ul.u-tree-child {
    display: none;
    cursor: default;
}

li.u-tree-par {
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: red;
}


ul.u-tree * b {
    cursor: -webkit-grab;
}

ul.u-tree i {
    position: relative;
    transition: all ease-in-out .1s;
}

ul.u-tree * b:hover > i {
    box-shadow: inset 0 -3px 3px #373737, 2px 2px 5px #6f6f6f;
} 

ul.u-tree * b:active > i {
    box-shadow: 0 -1px 3px #162313 inset;
    top: 1px;
}

ul.u-tree * a, b {
    padding: 4px;
}

ul.u-tree b:active {
    cursor: -webkit-grabbing;
}

ul.u-tree input[type=radio],input[type=checkbox] {
    padding-left: 5px;
}

ul.u-tree i {
    font-family: initial;
    width: 20px;
    text-align: center;
    display: inline-block;
    background-color: #e8e8e8;
    border-radius: 3px;
    margin: 2px 5px;
    color: #424242;
    font-weight: 900;
}

ul.u-tree-child li {
    margin: 5px 0;
}

/*.u-tree *::-moz-selection, .u-tree *::selection {
    background: red;
    color: #034975;
}*/

input[type=radio],input[type=radio] {
    display: none;
}

input[type=radio]:checked + span {
    background-image: url('../../images/icons/checkbox.png');
    background-size: 40px;
    background-position: 18px;
}

input[type=checkbox]:checked + span {
    background-image: url('../../images/icons/checkbox.png');
    background-size: 40px;
    background-position: 18px;
}


.radio-style span {
    position: relative;
    float: right;
    top: 10px;
    height: 18px;
    width: 18px;
    background-image: url('../../images/icons/checkbox.png');
    background-size: 40px;
    background-position: 0px;
    cursor: pointer;
}

.checkbox-style span {
    position: relative;
    float: right;
    top: 5px;
    height: 18px;
    width: 18px;
    background-image: url('../../images/icons/checkbox.png');
    background-size: 40px;
    background-position: 0px;
    cursor: pointer;
}
