﻿
/*GoByStyle*/

/*Master*/

/*MAIN*/
body a {
    text-decoration: none !important;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
}

a.navi-link {
    color: white;
    text-transform: capitalize;
}

    a.navi-link:visited {
        color: white;
    }

    a.navi-link:hover {
        color: red;
    }

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
}

::-webkit-scrollbar-thumb {
    background: #882767;
    -webkit-box-shadow: inset 0 0 1px rgba(20,0,0,.8);
}

    ::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
    }

/*GENERAL BUTTON*/
.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width:738px) {
    .contact-section-grid {
        width: 44%;
    }

    .container {
        width: 100%;
    }
}

@media (max-width:994px) {
    .queries {
        display: none;
    }
}

.login-section a:hover {
    position: relative;
    /*transform: scale(1.1, 1.1);*/
}

.menu-bar {
    max-height: 56px;
    overflow: hidden;
}

.header-fix {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    animation-name: bounce-up;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.68, 1.57, 1, 1);
    box-shadow: -2px 0 4px #313131;
}

@keyframes bounce-up {
    50% {
        top: -10px;
    }

    100% {
        top: 0;
    }
}

.top-margin {
    padding-top: 80px;
}


/*BANNER STYLE*/
.dispay-none {
    display: none;
}

.banner {
    background-size: cover;
    background-position: center;
}

.slider-progress {
    height: 5px;
}

    .slider-progress > span {
        position: relative;
        top: -15px;
        height: 5px;
        background: #882767;
    }
/*BANNER STYLE*/
.shadow-text {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px #0e0e0e;
}

.tstb {
    background: rgba(255, 255, 255, 0.54);
    color: #0c0c0c !important;
    box-shadow: 0 0 4px rgba(0,0,0,.5);
    border-radius: 2px !important;
    font-weight: bold !important;
}

.top-header {
    padding: 20px 0 !important;
}

.logo-main {
    position: absolute;
    height: 46px;
    top: 10px;
}

.top-menu ul li a {
    margin: 0 !important;
}

.login-section ul li a {
    margin: 0 !important;
}

.contact-section {
    background: #F1F1F1;
}

.contact-section-grid h4 {
    color: #313030;
}

.contact-section-grid ul li a {
    color: #616161;
    text-decoration: none;
}

    .contact-section-grid ul li a:hover {
        color: #882767;
    }

.contact-section-grid input.text {
    background: #f1f1f1;
    color: #0c0c0c;
    font-weight: bold;
}

.queries {
    float: left;
    margin-left: 34%;
}

.Lobster-font {
    font-family: 'Lobster Two';
    font-family: cursive;
}

.main-head {
    text-align: center;
    color: #882767;
    font-family: inherit;
    font-size: 33px;
    font-weight: 300;
    text-shadow: none;
    margin: 20px 0;
}


h4.sub-head {
    font-weight: bold;
    color: #292929;
    text-align: center;
}

input::-webkit-input-placeholder {
    color: #0c0c0c !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #0c0c0c !important;
}

input::-moz-placeholder { /* Firefox 19+ */
    color: #0c0c0c !important;
}

input:-ms-input-placeholder {
    color: #0c0c0c !important;
}


.contact-section-grid ul li i.point {
    width: 20px;
    height: 20px;
    /*background: url("http://www.free-icons-download.net/images/small-arrow-to--right-icon-722.png") no-repeat;*/
    background-size: 19px;
    position: relative;
    top: 5px;
}

.onstart {
    position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 9999;
}

    .onstart .loder-anim {
        display: block;
        margin: auto;
    }

    .onstart h4 {
        display: block;
        text-align: center;
        font-size: 26px;
        font-family: 'Lobster Two';
        font-family: cursive;
    }

.loder-logo {
    display: block;
    margin: 10% auto 50px;
    height: 177px;
}

.footer {
    padding: 3em 0;
    background: #ffffff;
    box-shadow: -2px 0 4px gray;
}

    .footer a {
        color: #464646;
        font-weight: bold;
    }

div.follow > ul > li:first-child {
    padding: 1px 4px;
    /*background-color: #882767;*/
    border-radius: 3px;
}

.contact-section-grid ul li i {
    margin: 0 !important;
}

.menu-bar2 {
    height: 54px;
    display: none;
}

/*Default*/

.float-none {
    float: none;
}

.salon-name h4 {
    font-family: inherit;
    font-weight: 400;
    text-transform: uppercase;
    color: #424242;
    font-size: 20px;
    margin: 3px 0;
}

    .salon-name h4:hover {
        color: #882767;
    }

.top-salon {
    border: 4px solid #f1f1f1;
    height: 110px;
    width: 170px;
    padding: 5px;
}

    .top-salon img {
        height: 90px;
        width: 170px;
    }

.top-service img {
    border: 1px solid #dbdbdb;
    height: 130px;
    width: 161px;
}

.bottom-service > img {
    display: block;
    max-width: 72%;
    margin: 0 12%;
}

.col-md-3 .pocess-flow {
    height: 225px !important;
    background: #882767 !important;
    margin: 5px !important;
    width: 20% !important;
    border-radius: 125px !important;
    margin: 0 28px !important;
}

.ordering-section-grid-process p {
    left: 3%;
    top: 47px;
}

.ordering-section-grid-process h3 {
    width: 130px;
    text-align: center;
}

.col-md-3.process-flow img {
    position: relative;
    left: 29%;
    top: 15px;
    height: 80px;
    height: 80px;
    opacity: .7;
}

.col-md-3.process-flow i {
    position: absolute;
    top: 88px;
    right: -47px;
    color: #2f2f2f;
}

@media (max-width:1200px) {
    .col-md-3.pocess-flow {
        min-width: 220px;
    }
}

.process-flow {
    height: 225px;
    background: #f1f1f1;
    width: 225px;
    border-radius: 125px;
    margin: 40px 28px;
}

@media(max-width:990px) {
    .process-flow {
        margin: 40px auto;
    }
}

.process-flow {
    font-family: cursive;
}

.ordering-section-grid-process span {
    color: #f1f1f1;
}

.process-half {
    height: 225px;
    margin: 5px;
    width: 20%;
    border-radius: 125px;
    margin: 0 28px;
    position: relative;
    left: -43px;
    top: -1px;
    height: 50%;
    width: 225px;
    border-radius: 90px 90px 0 0 !important;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 158px 158px 0 0 !important;
    box-shadow: 0px -3px 15px #1f1f1f inset;
    background: #494949 !important;
}

input:disabled {
    cursor: url(../../images/icons/not-allow.png), auto;
}

.form-list input {
    transition: all .5s;
}

    .form-list input[type=text]:focus {
        background: rgba(177, 177, 177, 0.54);
        color: #882767 !important;
        /* box-shadow: 0 0 8px white; */
    }

    .form-list input[type=submit]:focus {
        box-shadow: 0 0 8px white;
    }

.form-list ul li.srch-btn {
    position: absolute;
    width: inherit;
    top: 31px;
}

.navmain span {
}

.srch-btn {
    padding: 0 60px;
    font-size: 15px;
    margin: 10px;
    margin-right: 1%;
    color: white;
    font-weight: bold !important;
    height: 42px;
    border: none;
    width: 27.7%;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0,0,0,.5);
    background: url(../../images/icons/search-icon-light.png);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 28px 8px;
    background-color: #882767;
}

    .srch-btn input:focus {
        outline: none;
    }

.btn-blue {
    color: #f2f2f2 !important;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #64c3c2 !important;
    padding: 5px 15px;
    margin-right: 15px;
    background: #68dff0;
    margin-top: 15px;
}

    .btn-blue:hover {
        border: 1px solid #b6b6b6 !important;
        background-color: transparent !important;
        border-color: #b6b6b6 !important;
        text-decoration: none;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        color: #b6b6b6 !important;
    }

.img-btn {
    display: inline-block;
    position: relative;
    margin-top: 10px;
}

    .img-btn i {
        position: absolute;
        top: 8px;
        left: 6px;
        color: #3c7fa0;
    }

    .img-btn input {
        padding-left: 22px;
        margin: 0;
    }

/*Salon-Details*/

.u-box1 * {
    display: inline-block;
}

.u-box1 {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid silver;
}

    .u-box1 > h1 {
        font-size: 27px;
        font-weight: bold;
        margin: 10px 0 0 0;
    }

    .u-box1 > p {
        font-size: 21px;
    }

span.salon-rating {
    font-size: 15px;
    padding: 4px 10px;
    background: #882767;
    color: white;
    border-radius: 25px;
    margin: 5px 0px;
    font-weight: bold;
}

.flex-box {
    display: flex;
    margin-bottom: 20px;
}

.nav-left {
    min-width: 200px;
    width: 17%;
    float: left;
    border-right: 1px solid silver;
    position: relative;
}

.nav-right {
    min-width: 260px;
    width: 23%;
    position: relative;
}

.fix1 {
    position: fixed;
    top: 59px;
    width: 199px;
}

.cart-item.static1.fix1, .cart-item.static1.fix2 {
    width: 268px;
}

.fix2 {
    position: absolute;
    bottom: 0;
    width: 199px;
}

.nav-left ul {
    list-style: none;
}

    .nav-left ul li {
        position: relative;
    }

        .nav-left ul li > i {
            position: absolute;
            top: 13px;
            right: 15px;
            z-index: -1;
        }

ul.foucs-id li a {
    display: block;
    padding: 5px 10px 5px 0px;
    margin-bottom: 3px;
    border-bottom: 1px solid silver;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
    display: block;
    padding: 10px 10px 10px 0;
}

.salon-detail {
    display: inline-block;
    float: left;
    padding: 0 10px;
    width: 60%;
}

    .salon-detail > div {
        position: relative;
        padding: 0 0 30px 10px;
    }

        .salon-detail > div:not(:first-child) {
            padding: 0 15px 30px 10px;
        }

        .salon-detail > div:last-child {
            margin-top: 40px;
        }

.row.info-in, .row.serv, .row.add, .row.map, .row.photo, .row.revw {
    width: 100%;
    position: relative;
}

div#timing > div {
    border-bottom: 1px solid silver;
    margin-bottom: 5px;
}

.salon-detail h2 {
    font-family: inherit;
    margin-right: 10px;
    padding: 8px 0 8px 10px;
    border-bottom: 2px solid silver;
    font-size: 23px;
    margin-bottom: 15px;
}

    .salon-detail h2 i {
        float: left;
        color: gray;
        font-size: 20px;
        position: relative;
        top: 3px;
        left: -8px;
    }

    .salon-detail h2:not(:first-child) {
        margin-top: 30px;
    }


.cart-item {
    border-radius: 4px;
    width: 100%;
    border: 3px solid #882767;
}

    .cart-item .items {
        max-height: 260px;
        overflow-y: auto;
    }

    .cart-item h4 {
        font-size: 14px;
        letter-spacing: 1.5px;
        font-family: 'Lobster Two';
        font-family: cursive;
        text-align: center;
        padding: 3px 0 4px 0;
        background: #882767;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }

.items h5:first-child {
    margin-top: 10px;
}

.cart-item h5 {
    padding: 4px;
    font-size: 11px;
    text-transform: uppercase;
    color: #696969;
    font-weight: bold;
    border-bottom: 1px solid #882767;
}

.cart-item h3 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    background: #ececec;
    color: #696969;
}

    .cart-item h3 i {
        font-size: 15px;
    }

.cart-item h5 > span, .cart-item h5 > i {
}

.cart-item h5 i:hover {
    background: red;
}

.cart-item h5 i.btn-close:hover {
    background: #fb3b3b;
    border-radius: 10px;
    color: white;
}

.cart-item h5 > i.btn-close {
    padding: 1px 2px;
    margin-left: 10px;
    background: #d0d0d0;
    border-radius: 10px;
}

/*Salon-Search*/

.Popular-Restaurants-grid {
    display: flex;
}

.main-container {
    display: inline-block;
    width: 100%;
}

.filters {
    padding: 0 20px;
    min-width: 230px;
    display: inline-block;
    background-color: #f1f1f1;
}

    .filters > h2:first-child {
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        margin: 0 0 10px;
        padding: 20px 8px 8px;
        border-bottom: 1px solid;
    }

    .filters > div.location-filter {
        padding: 15px 10px 0;
        /*border-bottom: 1px solid #e8e8e8;*/
    }

.col-md-4.restaurent-logo {
    min-width: 185px;
    margin-right: 2%;
    padding-left: 0;
}

.salon-load {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    padding: 13% 35%;
    z-index: 99;
    background: rgba(255, 255, 255, 0.78);
}

    .salon-load img {
        height: 30px;
        opacity: .6;
        display: block;
        margin: 20% auto;
    }

.Popular-Restaurants-content {
    padding-left: 10px;
    min-width: 230px;
    display: inline-block;
    background: white;
}

.Popular-Restaurants-grids .container {
    width: 100%;
}

.filter-ht {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

span.drop-icon {
    background: url(../../images/icons/drop-arrow.png);
    background-size: 15px;
    height: 11px;
    width: 15px;
    position: absolute !important;
    z-index: 0;
    top: 16px;
    right: 4px;
}

.filter-dropdown {
    padding: 8px 0;
    margin-bottom: 5px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ababab;
    border: none;
    border-bottom: 1px solid silver;
    background: none;
    width: 100%;
    -webkit-appearance: none;
    background: url(../../images/icons/drop-arrow.png) no-repeat;
    background-size: 15px;
    background-position: 98%;
}

    .filter-dropdown:active, .filter-dropdown:focus {
        outline: none;
    }

    .filter-dropdown option {
        padding: 8px;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold;
        color: #ababab;
        border: none;
        box-shadow: 1px 0 4px;
    }

.buy span {
    float: right;
    width: 155px;
    text-align: center;
    margin: 0.3em;
    font-size: 20px;
    margin-bottom: 15px;
}

.outlet-detail h6.salon-type {
    background: #c3c3c3;
    border: 3px solid #d6d6d6;
    border-left: 3px solid #c5bbbb;
    border-top: 3px solid #e6e6e6;
    display: inline-flex;
    margin: 10px 0;
}

    .outlet-detail h6.salon-type span.active {
        padding: 6px;
        background: #882767;
        color: #585858;
        font-weight: bold;
        box-shadow: 1px 1px 1px inset;
        border: 1px solid silver;
        border-radius: 2px;
    }

    .outlet-detail h6.salon-type span.deactive {
        padding: 6px;
        background: #d4d4d4;
        box-shadow: 1px 1px 1px inset;
        border: 1px solid silver;
        color: #585858;
        font-weight: bold;
        border-radius: 2px;
        text-decoration: line-through;
    }

.outlet-detail h6 span:not(:last-child) {
    border-right: 1px solid #a2a2a2;
}

.book-btn {
    margin: 1.3em;
}


/*Page-not-found*/

.pagenotfound {
    padding: 7%;
}

.errorcode {
    display: block;
    width: 352px;
    margin: 0 auto;
}

.pagenotfound h1, .border-box h2 {
    text-align: center;
    text-transform: uppercase;
}

.pagenotfound h1 {
    text-align: center;
    color: #ff5c5c !important;
    font-size: 205px;
    display: inline-block;
    float: left;
    position: relative;
    top: -47px;
}

.border-box h2 {
    font-size: 45px;
    clear: both;
}

.pagenotfound img {
    float: left;
}

.border-box {
    display: inline-block;
    border-top: 1px solid #a6a6a6;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

@media screen and (max-width:370px) {
    .errorcode {
        width: 239px;
    }

    .pagenotfound h1 {
        font-size: 135px;
        position: relative;
        text-align: center;
        top: -27px;
    }

    .pagenotfound img {
        height: 135px;
    }

    .border-box h2 {
        font-size: 30px;
        text-align: center;
    }
}

/*SOME CUSTOM STYLES*/
.cart-indx {
    float: left;
    width: 15px;
}

.cart-sname {
    font-weight: 400;
    float: left;
    width: 112px;
    padding-right: 10px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cart-sqty {
    float: left;
    padding-right: 10px;
    display: inline-block;
    width: 38px;
    text-align: center;
}

.cart-ttl {
    float: left;
    display: inline-block;
    width: 65px;
    text-align: right;
}

.cart-rfrsh {
    display: block;
    padding: 5px;
    text-align: center;
    background: pink;
    font-weight: bold;
    color: #E74C3C;
    cursor: pointer;
}

/*SALON DETAILS PAGE*/

.u-btn-big {
    padding: 12px;
    display: block;
    text-align: center;
    color: #fbfbfb;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    transition: none;
}

    .u-btn-big:hover {
        text-shadow: -2px 2px 1px black;
    }

.btn-3d-darkpink {
    background: #882767;
    border-top: 2px solid #a2618c;
    box-shadow: 3px -20px 20px #731f57 inset, 0 7px 20px #bf7ea9 inset,0 -21px 20px #080206 inset;
    transition: none;
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
}

    .btn-3d-darkpink:hover {
        color: white;
        text-shadow: 2px 2px 0px black;
        box-shadow: none;
    }

.salon-image img {
    width: 100%;
    cursor: zoom-out;
}

.salon-image {
    height: 100px;
    width: 24%;
    display: inline-block;
}

div#timing span {
    width: 80px;
    display: inline-block;
}

/*USER ACCOUNT*/
.user-section * {
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.user-section {
    background: #fff;
    float: none;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-menu {
    min-width: 150px;
    width: 30%;
    max-width: 200px;
    float: left;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
}

.user-display {
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 20px;
    min-height: 400px;
    min-width: 200px;
    width: 100%;
    float: left;
    padding-left: 30px;
}

.user-menu ul > li {
    list-style: none;
    position: relative;
    border-top: 1px solid silver;
}

    .user-menu ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px;
        cursor: pointer;
    }

        .user-menu ul > li > a:hover {
            border-left: 5px solid #40d243;
        }

        .user-menu ul > li > a.active {
            border-left: 5px solid #40d243;
            background: rgb(136, 39, 103);
            color: white;
            border-right: 1px solid rgb(136, 39, 103);
        }

            .user-menu ul > li > a.active + img {
                display: block;
            }

.user-menu ul li img {
    display: none;
    height: 30.6px;
    position: absolute;
    top: -.4px;
    right: -14.6px;
}

.user-menu ul > li:last-child {
    border-bottom: 1px solid silver;
}

.active {
    display: block;
}

.deactive {
    display: none;
}

.show-content {
    display: none;
}

.user-content h4 {
    font-size: 20px;
    text-transform: capitalize;
    position: relative;
    top: -9px;
    padding-bottom: 10px;
    border-bottom: 1px dotted silver;
    text-align: center;
}

.tab-button i {
    display: none;
}

@media (max-width:600px) {
    .tab-button i {
        display: inline-block;
    }

    .user-menu ul > li {
        text-align: center;
    }

        .user-menu ul > li small {
            display: none;
        }

        .user-menu ul > li:hover {
            width: 130px;
            z-index: 99;
            text-align: left;
        }

            .user-menu ul > li:hover a {
                text-align: center;
            }

            .user-menu ul > li:hover small {
                padding-left: 10px;
                font-size: 9px;
                position: relative;
                top: -1px;
                font-family: sans-serif;
                text-transform: uppercase;
                display: inline-block;
            }

    .tab-button span {
        display: none;
    }

    .user-menu {
        width: 10%;
        min-width: 40px;
        max-width: 100px;
    }

        .user-menu ul > li > a:hover {
            border-left: 5px solid #40d243;
            background: rgb(136, 39, 103);
            color: white;
            border-right: 1px solid rgb(136, 39, 103);
        }

            .user-menu ul > li > a:hover + img {
                display: block;
            }
}

h4.cart-amount {
    text-align: center;
}


/*DEFAULT SET UP*/
.inline-block {
    display: inline-block;
}

.full-width {
    width: 100%;
}
