﻿
/*GoByStyle*/

/*Master*/

body a {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
}

::-webkit-scrollbar-thumb {
    background: #5bbd50;
    -webkit-box-shadow: inset 0 0 1px rgba(20,0,0,.8);
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

@media (max-width:738px) {
    .contact-section-grid {
        width: 44%;
    }

    .container {
        width: 100%;
    }
}

@media (max-width:994px) {
    .queries {
        display: none;
    }
}

.login-section a:hover {
    position: relative;
    /*transform: scale(1.1, 1.1);*/
}

.menu-bar {
    max-height: 56px;
    overflow: hidden;
}

.header-fix {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    animation-name: bounce-up;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.68, 1.57, 1, 1);
    box-shadow: -2px 0 4px #313131;
}

@keyframes bounce-up {
    50% {
        top: -10px;
    }

    100% {
        top: 0;
    }
}

.top-margin {
    padding-top: 80px;
}



.dispay-none {
    display: none;
}

.shadow-text {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px #0e0e0e;
}

.tstb {
    background: rgba(255, 255, 255, 0.54);
    color: #0c0c0c !important;
    box-shadow: 0 0 4px rgba(0,0,0,.5);
    border-radius: 2px !important;
    font-weight: bold !important;
}

.logo-main {
    position: absolute;
    height: 80px;
    top: 16px;
}

.contact-section {
    background: #F1F1F1;
}

.contact-section-grid h4 {
    color: #313030;
}

.contact-section-grid ul li a {
    color: #616161;
    text-decoration: none;
}

.contact-section-grid ul li a:hover {
    color: #5bbd50;
}

.contact-section-grid input.text {
    background: #f1f1f1;
    color: #0c0c0c;
    font-weight: bold;
}

.queries {
    float: left;
    margin-left: 34%;
}

.banner {
    height: 450px !important;
    min-height: 455px !important;
    background-size: cover;
    background-position: center;
}

.slider-progress {
    height: 5px;
}

.slider-progress > span {
    position: relative;
    top: -15px;
    height: 5px;
    background: rgba(91, 189, 80, 0.87);
}

.Lobster-font {
    font-family: 'Lobster Two';
}

.main-head {
    text-align: center;
    color: #5bbd50;
}


h4.sub-head {
    font-weight: bold;
    color: #292929;
    text-align: center;
}

input::-webkit-input-placeholder {
    color: #0c0c0c !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #0c0c0c !important;
}

input::-moz-placeholder { /* Firefox 19+ */
    color: #0c0c0c !important;
}

input:-ms-input-placeholder {
    color: #0c0c0c !important;
}


.contact-section-grid ul li i.point {
    width: 20px;
    height: 20px;
    /*background: url("http://www.free-icons-download.net/images/small-arrow-to--right-icon-722.png") no-repeat;*/
    background-size: 19px;
    position: relative;
    top: 5px;
}

.onstart {
    position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 9999;
}

.onstart .loder-anim {
    display: block;
    margin: auto;
}

.onstart h4 {
    display: block;
    text-align: center;
    font-size: 26px;
    font-family: 'Lobster Two';
}

.loder-logo {
    display: block;
    margin: 10% auto 50px;
    height: 177px;
}

.footer {
    padding: 3em 0;
    background: #ffffff;
    box-shadow: -2px 0 4px gray;
}

.footer a {
    color: #464646;
    font-weight: bold;
}

div.follow > ul > li:first-child {
    padding: 1px 4px;
    background-color: #5bbd50;
    border-radius: 3px;
}

.contact-section-grid ul li i {
    margin: 0 !important;
}

.menu-bar2 {
    height: 54px;
    display: none;
}

/*Default*/

.top-salon {
    border: 4px solid #f1f1f1;
    height: 110px;
    width: 170px;
    padding: 5px;
}

.top-salon img {
    height: 90px;
    width: 170px;
}

.top-service img {
    border: 1px solid #dbdbdb;
    height: 130px;
    width: 161px;
}

.bottom-service > img {
    display: block;
    max-width: 72%;
    margin: 0 12%;
}

.col-md-3 .pocess-flow {
    height: 225px !important;
    background: #65bf5b !important;
    margin: 5px !important;
    width: 20% !important;
    border-radius: 125px !important;
    margin: 0 28px !important;
}

.ordering-section-grid-process p {
    left: 3%;
    top: 47px;
}

.ordering-section-grid-process h3 {
    width: 130px;
    text-align: center;
}

.col-md-3.process-flow img {
    position: relative;
    left: 29%;
    top: 15px;
    height: 80px;
    height: 80px;
    opacity: .7;
}

.col-md-3.process-flow i {
    position: absolute;
    top: 88px;
    right: -47px;
    color: #2f2f2f;
}

@media (max-width:1200px) {
    .col-md-3.pocess-flow {
        min-width: 220px;
    }
}

.process-flow {
    height: 225px !important;
    background: #65bf5b !important;
    margin: 5px !important;
    width: 20% !important;
    border-radius: 125px !important;
    margin: 0 28px !important;
}

.process-half {
    height: 225px !important;
    background: #5bbd50 !important;
    margin: 5px !important;
    width: 20% !important;
    border-radius: 125px !important;
    margin: 0 28px !important;
    position: relative;
    background: #2f2f2f !important;
    left: -43px;
    top: -1px;
    height: 50% !important;
    width: 115% !important;
    border-radius: 90px 90px 0 0 !important;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 158px 158px 0 0 !important;
    box-shadow: 0px -3px 6px black inset;
    background: #2f2f2f !important;
}

input:disabled {
    cursor: url(images/icons/not-allow.png), auto;
}

.form-list input {
    transition: all .5s;
}

.form-list input[type=text]:focus {
    background: rgba(177, 177, 177, 0.54);
    color: white !important;
    box-shadow: 0 0 8px white;
}

.form-list input[type=submit]:focus {
    box-shadow: 0 0 8px white;
}

.form-list ul li.srch-btn {
    position: absolute;
    width: inherit;
    top: 31px;
}

.srch-btn input {
    height: 42px;
    border: none;
    width: 80px;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0,0,0,.5);
    background: url(images/icons/search-icon-light.png);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 28px 8px;
    background-color: #5bbd50;
}

.srch-btn input:focus {
    outline: none;
}


/*Salon-Details*/

.u-box1 * {
    display: inline-block;
}

.u-box1 {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid silver;
}

.u-box1 > h1 {
    font-size: 27px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.u-box1 > p {
    font-size: 21px;
}

span.salon-rating {
    font-size: 15px;
    padding: 4px 10px;
    background: #5bbd50;
    color: white;
    border-radius: 25px;
    margin: 5px 0px;
    font-weight: bold;
}

.flex-box {
    display: flex;
    margin-bottom: 20px;
}

.nav-left {
    min-width: 200px;
    float: left;
    border-right: 1px solid silver;
    position: relative;
}

.nav-right {
    min-width: 200px;
    position: relative;
}

.fix1 {
    position: fixed;
    top: 59px;
    width: 199px;
}

.fix2 {
    position: absolute;
    bottom: 0;
    width: 199px;
}

.nav-left ul {
    list-style: none;
}

.nav-left ul li {
    position: relative;
}

.nav-left ul li > i {
    position: absolute;
    top: 13px;
    right: 15px;
    z-index: -1;
}

ul.foucs-id li a {
    display: block;
    padding: 5px 10px 5px 0px;
    margin-bottom: 3px;
    border-bottom: 1px solid silver;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
    display: block;
    padding: 10px 10px 10px 0;
}

.salon-detail {
    display: inline-block;
    float: left;
    padding: 0 10px;
    width: 66%;
}

.salon-detail > div {
    position: relative;
    padding: 0 0 30px 10px;
}

.salon-detail div:not(:first-child) {
    padding: 0 0 30px 10px;
}

.salon-detail h2 {
    margin-right: 10px;
    padding: 8px 0 8px 0;
    border-bottom: 2px solid silver;
    font-size: 20px;
}

    .salon-detail h2 i {
        float: right;
        color: gray;
        font-size: 20px;
    }

    .salon-detail h2:not(:first-child) {
        margin-top: 30px;
    }


.cart-item {
    border-radius: 4px;
    width: 199px;
    border: 3px solid #5bbd50;
}

.cart-item .items {
    max-height: 260px;
    overflow-y: auto;
}

.cart-item h4 {
    font-size: 14px;
    letter-spacing: 1.5px;
    font-family: 'Lobster Two';
    text-align: center;
    padding: 3px 0 4px 0;
    background: #5bbd50;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.items h5:first-child {
    margin-top: 10px;
}

.cart-item h5 {
    padding: 4px;
    font-size: 13px;
    text-transform: uppercase;
    color: #696969;
    font-weight: bold;
    border-bottom: 1px solid #5bbd50;
}

.cart-item h3 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    background: #ececec;
    color: #696969;
}

.cart-item h3 i {
    font-size: 15px;
}

.cart-item h5 > span, .cart-item h5 > i {
    float: right;
}

.cart-item h5 i:hover {
    background: red;
}

.cart-item h5 i.btn-close:hover {
    background: #fb3b3b;
    border-radius: 10px;
    color: white;
}

.cart-item h5 > i.btn-close {
    padding: 0px 2px;
    margin-left: 10px;
    background: #d0d0d0;
    border-radius: 10px;
}


/*Salon-Search*/

.Popular-Restaurants-grid {
    display: flex;
}

.filters {
    padding: 0 20px;
    width: 20%;
    display: inline-block;
    background-color: #f9f9f9;
}

.filters > h2:first-child {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 20px 8px 8px;
    border-bottom: 1px solid;
}

.filters > div.location-filter {
    padding: 15px 10px 0;
    /*border-bottom: 1px solid #e8e8e8;*/
}

.salon-load {
    position: absolute;
    width: 100%;
    height: 151%;
    padding: 13% 35%;
    z-index: 9999;
    top: 0;
    left: 0;
    background: rgba(249, 249, 249, 0.78);
}

.salon-load img {
    height: 30px;
    opacity: .6;
}

.Popular-Restaurants-content {
    width: 75%;
    display: inline-block;
}

.Popular-Restaurants-grids .container {
    width: 100%;
}

.filter-ht {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

span.drop-icon {
    background: url(images/icons/drop-arrow.png);
    background-size: 15px;
    height: 11px;
    width: 15px;
    position: absolute !important;
    z-index: 0;
    top: 16px;
    right: 4px;
}

.filter-dropdown {
    padding: 8px 0;
    margin: 12px 0px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ababab;
    border: none;
    border-bottom: 1px solid silver;
    background: none;
    width: 100%;
    -webkit-appearance: none;
    background: url(images/icons/drop-arrow.png) no-repeat;
    background-size: 15px;
    background-position: 98%;
}

.filter-dropdown:active, .filter-dropdown:focus {
    outline: none;
}

.filter-dropdown option {
    padding: 8px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ababab;
    border: none;
    box-shadow: 1px 0 4px;
}

.buy span {
    float: right;
    width: 155px;
    text-align: center;
    margin: 0.3em;
}

.outlet-detail h6.salon-type {
    background: #c3c3c3;
    border: 3px solid #d6d6d6;
    border-left: 3px solid #c5bbbb;
    border-top: 3px solid #e6e6e6;
    display: inline-flex;
    margin: 10px 0;
}

.outlet-detail h6.salon-type span.active {
    padding: 6px;
    background: #73c773;
    color: #585858;
    font-weight: bold;
    box-shadow: 1px 1px 1px inset;
    border: 1px solid silver;
    border-radius: 2px;
}

.outlet-detail h6.salon-type span.deactive {
    padding: 6px;
    background: #d4d4d4;
    box-shadow: 1px 1px 1px inset;
    border: 1px solid silver;
    color: #585858;
    font-weight: bold;
    border-radius: 2px;
    text-decoration: line-through;
}

.outlet-detail h6 span:not(:last-child) {
    border-right: 1px solid #a2a2a2;
}

.book-btn {
    margin: 1.3em;
}


/*Page-not-found*/

.pagenotfound {
    padding: 7%;
}

.errorcode {
    display: block;
    width: 352px;
    margin: 0 auto;
}

.pagenotfound h1, .border-box h2 {
    text-align: center;
    text-transform: uppercase;
}

.pagenotfound h1 {
    text-align: center;
    color: #ff5c5c !important;
    font-size: 205px;
    display: inline-block;
    float: left;
    position: relative;
    top: -47px;
}

.border-box h2 {
    font-size: 45px;
    clear: both;
}

.pagenotfound img {
    float: left;
}

.border-box {
    display: inline-block;
    border-top: 1px solid #a6a6a6;
        width: 100%;
    padding: 20px 0;
    text-align: center;
}

@media screen and (max-width:370px) {
    .errorcode {
        width: 239px;
    }
    .pagenotfound h1 {
        font-size: 135px;
        position: relative;
        text-align: center;
    top: -27px;
    }
    .pagenotfound img {
        height: 135px;
    }
    .border-box h2 {
        font-size: 30px;
        text-align: center;
    }
}