﻿body {
    box-shadow: 40px 37px 274px silver inset;
    height: 100%;
    padding-top: 190px;
}

img {
    width: 35px;
    display: block;
    margin: auto;
    padding: 20px;
}

span#Label1 {
    color: Green;
    font-size: 18px;
}

span.text {
    display: block;
    width: 190px;
    margin: auto;
    color: #fd6060;
    font-family: monospace;
}
