﻿
        .form-control-wrapper {
            position: relative;
            z-index: 1;
        }


        span.placeholder-text {
            font-size: 14px;
            position: absolute;
            top: 16px;
            padding: 0 0px;
            opacity: 0.6;
            z-index: -1;
            transition: all ease-in-out .2s;
        }

        .hint-move {
            font-size: 11px;
            position: absolute;
            top: -10px;
            color: #009688;
        }

        .magic-placeholder .placeholder-textbox:focus + span.placeholder-text {
            font-size: 11px;
            position: absolute;
            top: -10px;
            color: #319c33;
            font-weight: 700;
        }

        .hint-show {
            font-size: 11px !important;
            top: -10px !important;
            color: #319c33 !important;
            font-weight: 700;
        }

        .hint-show:before {
            content: " ";
            background: green;
            position: relative;
            top: 6px;
        }

        .comment-list > .comment {
            display: inline-block;
            display: -webkit-box;
            width: 100%;
        }

        .upa-form input[type=text], .upa-form input[type=password], .upa-form input[type=email], .upa-form input[type=number], .upa-form input[type=password], .upa-form textarea {
            margin-top: 20px;
            z-index: 1;
            border: none;
            border-radius: 0;
            border-bottom: 2px solid silver;
            background: transparent;
            box-shadow: none;
        }

        .upa-form input[type=text], .upa-form input[type=password] {
            height: 45px;
        }


        .magic-placeholder .placeholder-textbox:not(:valid) + span.placeholder-text {
            color: red !important;
        }

        .magic-placeholder .placeholder-textbox:not(:valid) {
            border-color: red !important;
        }

        .magic-placeholder #txtName:not(:valid) + span.placeholder-text:after {
            content: " * (Enter at-least 3 characters)";
            color: red;
            font-weight: 300;
        }

        .magic-placeholder #txtEmail:not(:valid) + span.placeholder-text:after {
            content: " * (Email is not valid)";
            color: red;
            font-weight: 300;
        }

        .magic-placeholder #txtNumber:not(:valid) + span.placeholder-text:after {
            content: " * (Phone number is not valid)";
            color: red;
            font-weight: 300;
            z-index: 9999;
        }

        .magic-placeholder #txtNumber:not(:valid) {
            border-color: red;
        }

        .magic-placeholder #txtComment:not(:valid) + span.placeholder-text:after {
            content: " * (Write 10 char. or more)";
            color: red;
            font-weight: 300;
        }

        .magic-placeholder input:hover + span.placeholder-text:after {
            transform: scale(1.5,1.5);
            color: blue;
        }

        .magic-placeholder input[type=number]::-webkit-inner-spin-button,
        .magic-placeholder input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }

        .reply {
            background: none;
            color: #f44336;
            border: none;
            display: inline-block;
        }

        .upa-form input[type=text]:focus,.upa-form input[type=number]:focus,.upa-form input[type=password]:focus,.upa-form input[type=email]:focus, .upa-form textarea:focus {
            border-color: #319c33;
            outline: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .correct-input {
            border-color: #319c33;
        }

        .form-control-wrapper small {
            font-size: 10px;
            color: #e9a426;
        }

