﻿

/*DROPDOWN-MENU*/
.u-line-sub {
    display: none;
}

ul.u-line-menu {
    padding: 0;
    margin: 0;
}

.u-line-sub ul {
    margin: 0;
    padding: 0;
}
ul.u-line-menu {
    max-width: 660px;
    width: 100%;
    list-style: none;
}

ul.u-line-menu > li.parent {
    padding: 10px;
    font-size: 14px;
    color: white;
    background-color: #882767;
    border-radius: 2px;
    cursor: pointer;
    background-image: url(../../images/icons/drop-arrow.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 98%;
    text-transform: uppercase;
}

ul.u-line-menu > li {
    margin-top: 3px;
}

li.sub-parent {
    padding: 10px;
    font-size: 14px;
    color: #828282;
    background-color: #ececec;
    border-radius: 2px;
    cursor: pointer;
    margin: 3px 0;
    text-transform: uppercase;
}

li.sub-parent {
    background-image: url(../../images/icons/drop-arrow.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 98%;
}

li.leaf-node {
    padding: 10px;
    font-size: 14px;
    color: #828282;
    background: none !important;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 2px;
    cursor: pointer;
    margin: 3px 0;
    text-transform: uppercase;
}

li.u-line-sub {
    background-color: transparent !important;
    width: 100%;
    padding: 0 !important;
}

li.sub-parent + li.u-line-sub > ul > li {
    background: none !important;
    border-bottom: 1px solid #ececec;
}

.change-arrow {
    background-image: url('../../images/icons/up-arrow.png') !important;
}

.active-link, .active-link + i {
    color: #882767 !important;
    border-bottom-color: #882767 !important;
}

li.leaf-node > a {
    float: right;
    font-weight: normal;
}

.a.btn-3d-1 {
    transition: all .3s;
}

a.btn-3d-1::selection {
    background: transparent;
}

a.btn-3d-1 i::selection {
    background: transparent;
}

a.btn-3d-1 span::selection, li.leaf-node i::selection {
    background: transparent;
}

a.btn-3d-1 > span {
    font-weight: bold;
    padding: 0px 10px;
    position: relative;
    background: #ececec;
    color: #4e4e4e;
    border-radius: 2px;
    top: -3px;
    right: -8px;
    border-radius: 4px 0 0 4px;
    transition: all .0s;
    border-right: 1px solid #b3b3b3;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #676767;
    box-shadow: 0 3px 0 #676767, 0px 3px 4px #9c9c9c,0px 4px 2px #9c9c9c;
    z-index: 1;
}

a.btn-3d-1 > i {
    font-weight: bold;
    padding: 0px 7px;
    position: relative;
    top: -3px;
    background: #ececec;
    color: #4e4e4e;
    border-radius: 2px;
    right: -8px;
    border-radius: 0 4px 4px 0;
    transition: all .0s;
    border-top: 1px solid #d4d4d4;
    border-left: 1px solid #fffdfd;
    border-bottom: 1px solid #676767;
    box-shadow: 0 3px 0 #676767, 0px 3px 4px #9c9c9c,0px 4px 2px #9c9c9c;
}

a.btn-3d-1 pre {
    color: #4e4e4e;
    background: none;
    font-size: 13px;
    position: relative;
    padding: 0;
    top: 2px;
    left: -4px;
    margin: 0;
    border: none;
}

la.btn-3d-1 > i::selection {
    background: transparent;
}

a.btn-3d-1:active > i {
    top: 0px;
    box-shadow: none;
    color: limegreen;
}

a.btn-3d-1:active > span {
    box-shadow: 0 3px 0 #676767, 0px 3px 4px #9c9c9c,0px 4px 3px #9c9c9c, 4px 3px 4px #9c9c9c;
}

img.m-crop {
    height: 20px;
    position: relative;
    left: -12px;
}

img.f-crop {
    height: 20px;
    position: relative;
}

.gen-crop {
    display: inline-block;
    width: 12px;
    position: relative;
    top: 6px;
    overflow: hidden;
}
