﻿ #loading{
                position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: white;
    z-index: 999999;
    overflow: hidden;
        }

        #loading img{
                position: fixed;
    top: 45%;
    left: 50%;
    width: 50px;
        }

