﻿
/***MESSAGE BOX CSS***/
    .upa-msgbox {
        box-shadow: 0 1px 4px black;
        margin: 0 0 20px;
        padding: 10px 10px 7px 10px;
        border-radius: 2px;
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        display: none;
        z-index: 9999;
    }


    .upa-succ {
        background-color: rgba(10, 183, 10, 0.65);
    }

    .upa-fail {
        background-color: rgba(255, 0, 0, 0.65);
    }
    .btnclose{
        position:absolute;
        -webkit-animation: rotate 2s infinite;
    }
    .upa-msgbox .btnclose {
        text-decoration: none;
        font-weight: bold;
        text-transform: lowercase;
        color: white;
        font-family: monospace;
        background-color: #6d6d6d;
        box-shadow: 1px 0 4px black inset;
        height: 18px;
        width: 18px;
        padding: 0px 5px;
        font-weight: 100;
        right: 5px;
        font-size: 15px;
        border-radius: 20px;
        line-height: 1.1;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .upa-msgbox span {
        color: white;
            font-size: 13px;
        display: block;
        text-transform: uppercase;
        padding: 0 20px;
        text-align: center;
    }

    .upa-msgbox .btnclose:hover {
        background-color: white;
        color: black;
    }
