﻿
/***MESSAGE BOX CSS***/
.upa-msgbox {
    box-shadow: 0 1px 4px black;
    margin: 0 0 20px;
    padding: 10px 10px 7px 10px;
    border-radius: 2px;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display: none;
    z-index: 9999;
}
/* Chrome, Safari, Opera */
/*@-webkit-keyframes rotate {
    from {
        -ms-transform: rotate(0deg); 
        -webkit-transform: rotate(0deg); 
        transform: rotate(0deg); 
    }

    to {
        -ms-transform: rotate(360deg); 
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); 
    }
}

@keyframes rotate {
    from {
        -ms-transform: rotate(0deg); 
        -webkit-transform: rotate(0deg); 
        transform: rotate(0deg); 
    }

    to {
        -ms-transform: rotate(360deg); 
        -webkit-transform: rotate(360deg); 
        transform: rotate(360deg); 
    }
}*/

.upa-succ {
    background-color: rgba(10, 183, 10, 0.65);
}

.upa-fail {
    background-color: rgba(255, 0, 0, 0.65);
}

.btnclose {
    top: 25%;
}

.btnclose:hover {
    -webkit-animation-name: rotate; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 2; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.upa-msgbox .btnclose {
    text-decoration: none;
    font-weight: 700 !important;
    text-transform: lowercase;
    color: white;
    font-family: monospace;
    height: 18px;
    width: 18px;
    padding: 0px 5px;
    font-weight: 100;
    right: 5px;
    font-size: 15px;
    border-radius: 20px;
    line-height: 1.1;
    cursor: pointer;
    position: absolute;
}

.upa-msgbox span {
    color: white;
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    padding: 0 20px;
    text-align: center;
}

.upa-msgbox .btnclose:hover {
    background-color: white;
    color: black;
}

/*ERROR DETAIL*/
a.see-error {
    position: absolute;
    top: 10px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

div#error_detail {
    margin-top: 50px;
}