﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.Master" AutoEventWireup="true" CodeBehind="add-services.aspx.cs" Inherits="Admin.web.add_services" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeaderContainer" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContainer" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="FootContainer" runat="server">
</asp:Content>
