﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="Admin.web.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeaderContainer" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContainer" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="FootContainer" runat="server">
</asp:Content>
