﻿.upload-button + span {
            padding: 5px 10px;
            background-color: #09AA98;
            position: relative;
            top: -20px;
            z-index: -1;
        }

        .upload-button {
            display: none;
        }


        div.fileinputs {
            position: relative;
        }

        div.fakefile {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
        }

        input.file {
            position: relative;
            text-align: right;
            -moz-opacity: 0;
            filter: alpha(opacity: 0);
            opacity: 0;
            z-index: 2;
        }

        .upload-image-ctrl {
            position: absolute !important;
            left: 3px !important;
            width: 144px !important;
            height: 144px !important;
            background: url(upload-image.png);
            background-size: cover;
            background-color: silver;
        }

        .fileinputs {
            margin: 10px;
            float: left;
            display: inline-block;
            width: 154px;
            border: 2px dashed gray;
            background-color: silver;
        }

        .fileinputs > input[type=file] {
            display: inline-block;
            width: 144px;
            height: 144px;
        }



        .upload-holder {
            min-width: 185px;
            width: 362px;
            padding: 5px;
            border: 2px solid black;
            display: table;
            float: none;
            margin: auto;
        }


        .fileinputs > span {
            position: absolute;
            width: 100%;
            z-index: 5;
            color: black;
            font-weight: bold;
            top: 99%;
            left: 22px;
        }

        .fileinputs i {
            height: 18px;
            width: 18px;
            padding: 2px 3.3px;
            background: white;
            border-radius: 10px;
            position: absolute;
            z-index: 99;
            top: 5px;
            left: 130px;
            cursor: pointer;
            box-shadow: 0px 0px 5px #000000;
            display: none;
            transition: all .3s;
        }

        .fileinputs i:hover {
            background-color: #ea8585;
            color: white;
            box-shadow: none;
        }

        .up-ins {
            padding: 15px 0;
            width: 60%;
        }

        .upld-text {
            width: 100%;
            float: left;
            padding: 10px;
            min-height: 145px;
        }

        @media(max-width:1200px) {
            .up-ins {
                width: 49%;
            }
        }

        @media(max-width:636px) {
            .upload-holder {
                max-width: 362px;
                width: 100%;
            }
        }

        @media(max-width:750px) {
            .up-ins {
                width: 100% !important;
            }
        }

        .table-med-spec td, .table-med-spec td th {
            border: 1px solid gray;
            text-align: center;
        }

        .table-med-spec {
            width: 99%;
        }

        table.table-med-spec input {
            width: 100%;
            border: none;
            padding: 4px 10px;
        }

            table.table-med-spec input:focus {
                outline: none;
                background: #ffffde;
            }

        .table-responsive {
            width: 100%;
            overflow: auto;
        }

        @media(max-width:760px) {
            .mobile-pad {
                padding: 10px;
            }
        }