﻿
/*******ADD*OUTLET*PANEL********/

    .hss-wizard-panel {
        background-color: #565656;
        padding: 10px;
        margin-top: -10px;
        margin-left: -10px;
        margin-right: -10px;
        color: white;
        text-align: center;
    }

      .hss-progrees-bar {
        height: 15px;
        display: block;
        position: relative;
        background-color: #eaeaea;
        width: 98%;
        margin: 0 1%;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 0;
    }

    .pos div{
        display: inline;
        text-align: center;
        position: relative;
        float: left;
        width: 14.28%;
    }

    div.hss-progress {
        width: 13%;
        background-color: #5dca5d;
        height: 15px;
        width: 100%;
        overflow: hidden;
        background-color: #68ca68;
        width: 0%;
    }

    .hss-progress-animation {
        background: url('../../images/progress.gif') repeat-x;
        width:100%;
        height:15px;    
    }

    .hss-progrees-bar a{
        display: inline;
        font-size: small;
        font-weight: 700;
        position: relative;
        text-align: center;
        color: #484848;
    }
    div.pos {
        position: absolute;
        top: -45px;
        width: 100%;
    }
       
    .hss-progress-text {
        position: absolute;
        top: 16px;
        right: 46.5%;
    }
        
    .hss-wizard-top-btn {
        position: relative;
        display: block;
    }
    .hss-wizard-btn {
        position: relative;
        top: -59px;
    }

    
    #wizard-step-1 {
        display: inline-block;
        border: 1px solid;
        padding: 40px 20px;
        margin: 5% 30%;
        width: 38%;
    }

    #wizard-step-1 .hss-form-h3 {
        text-align: center;
    }


 /*****ALL*****/

    .control-label {
        padding-bottom: 7px;
    }

    .hss-form-h3 {
        border-bottom: 2px solid;
        padding: 0 0px 4px;
        margin: 0 0px 20px;
    }

    .hss-padd-15 {
        padding-bottom: 15px;
    }

  
    .hss-btn {
        display: inline-block;
        padding: 4px 10px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .hss-btn-success {
        background-color: #68ca68;
        color: white;
    }

    .hss-btn-default {
        background-color: #fff;
        color: gray;
    }

    .form-horizontal.style-form .form-group {
        border-bottom: none;
    }

    .hss-chkboxlist {
        margin: 0 20px;
    }

    .hss-chkboxlist label {
        font-size: 14px;
        font-weight: bold;
        color: #484848;
        text-transform: capitalize;
        margin: 0 20px 0 5px;
    }

    .hss-chkboxlist input[type='checkbox']  {
        background-color: #5dca5d;
    }

    #errorlbl {
        background-color: #e0e0e0;
        padding: 11px;
        color: #ff7d7d;
        font-size: 12px;
        position: absolute;
        top: 10px;
        left: 25px;
        display: none;
    }
